{include file="common/basic_header.tmpl"}
<h1>Changing password for {$firstname} {$lastname}</h1>
<p>
	You are changing the password for "{$firstname} {$lastname}" (username "{$username}").  
</p>
<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="perform">
	<input type="hidden" name="id" value="{$id}">
	<table border="0">
    <tr>
		<td class='row_title'><B>New Password:</b></td>
		<td class='row_data'><input type='password' name='password_one' size=25></td>
	</tr>
	<tr>
		<td class='row_title'><B>New Password (again):</b></td>
		<td class='row_data'><input type='password' name='password_two' size=25></td>
	</tr>
	</table>
<br>
<input type='submit' name='submit' value='Submit'>
<input type='reset' name='reset' value='Reset'>
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
