{include file="common/basic_header.tmpl"}
<h1>{$page_title}{if $id}: {$firstname} {$lastname}{/if}</h1>
<p>
  Confirm that the data below is correct, and hit continue to make your changes.
</p>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="{$page_step}">
	<input type="hidden" name="id" value="{$id}">
	<table border="0">
    <tr>
      <td class='row_title'>First Name:</td> 
      <td class='row_data'><input type="hidden" name="firstname" value="{$firstname}">{$firstname}</td>
    </tr>
    <tr>
      <td class='row_title'>Last Name:</td> 
      <td class='row_data'><input type="hidden" name="lastname" value="{$lastname}">{$lastname}</td>
    </tr>

    {if $perm_edit_username}
    <tr>
      <td class='row_title'>System Username:</td> 
      <td class='row_data'>
        <input type="hidden" name="username" value="{$username}">
        {$username}
      </td>
    </tr>
    {/if}

    {if $perm_edit_password}
    <tr>
      <td class='row_title'>Password:</td> 
      <td class='row_data'>
        <i>(entered)</i>
        <input type="hidden" name="password_once" value="{$password_once}">
        <input type="hidden" name="password_twice" value="{$password_twice}">
      </td>
    </tr>
    {/if}
    
    <tr>
      <td class='row_title'>Email Address:</td> 
      <td class='row_data'>
        {if $perm_edit_email}
        <input type="hidden" name="email" value="{$email}">
        {/if}
        {$email}
      </td>
    </tr>
    <tr>
      <td class="row_title">Show email:</td>
      <td class="row_data">
        <input type="hidden" name="allow_publish_email" value="{$allow_publish_email}">{$allow_publish_email}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign="top">Address:</td> 
      <td class='row_data'>
        {if $perm_edit_address}
        <input type="hidden" name="addr_street" value="{$addr_street}">
        <input type="hidden" name="addr_city" value="{$addr_city}">
        <input type="hidden" name="addr_prov" value="{$addr_prov}">
        <input type="hidden" name="addr_postalcode" value="{$addr_postalcode}">
        {/if}
        {$addr_street|escape}<br>
        {$addr_city|escape}, {$addr_prov|escape} <br>
        {$addr_postalcode|escape}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign="top">Phone Numbers:</td> 
      <td class='row_data'>
        {if $perm_edit_phone}
        <input type='hidden' name='home_phone' value='{$home_phone}'>
        <input type="hidden" name="publish_home_phone" value="{$publish_home_phone}">
        <input type='hidden' name='work_phone' value='{$work_phone}'>
        <input type="hidden" name="publish_work_phone" value="{$publish_work_phone}">
        <input type='hidden' name='mobile_phone' value='{$mobile_phone}'>
        <input type="hidden" name="publish_mobile_phone" value="{$publish_mobile_phone}">
        {/if}
        {if $home_phone}
          Home: {$home_phone} {if $publish_home_phone == 'Y'}(published){else}(private){/if}<br />
        {/if}
        {if $work_phone}
          Work: {$work_phone} {if $publish_work_phone == 'Y'}(published){else}(private){/if}<br />
        {/if}
        {if $mobile_phone}
          Mobile: {$mobile_phone} {if $publish_mobile_phone == 'Y'}(published){else}(private){/if}<br />
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Gender:</td> 
      <td class='row_data'>
        {if $perm_edit_gender}
        <input type="hidden" name="gender" value="{$gender}">
        {/if}
        {$gender}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Skill Level:</td> 
      <td class='row_data'>
        {if $perm_edit_skill}
        <input type="hidden" name="skill_level" value="{$skill_level}">
        {/if}
        {$skill_level}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Year Started:</td> 
      <td class='row_data'>
        {if $perm_edit_skill}
        <input type="hidden" name="started_Year" value="{$started_Year}">
        {/if}
        {$started_Year}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Birthday:</td> 
      <td class='row_data'>
        <input type="hidden" name="birth_Year" value="{$birth_Year}">
        <input type="hidden" name="birth_Month" value="{$birth_Month}">
        <input type="hidden" name="birth_Day" value="{$birth_Day}">
        {$birth_Year} / {$birth_Month} / {$birth_Day}
      </td>
    </tr>
    
    {if $perm_edit_class} 
    <tr>
      <td class='row_title'>Account Class:</td>
      <td>
        <input type="hidden" name="class" value="{$class}">
        {$class}
      </td>
    </tr>
    {/if}

    {if $perm_edit_dog}
    <tr>
      <td class="row_title">Have dog:</td>
      <td class="row_data">
        <input type="hidden" name="has_dog" value="{$has_dog}">{$has_dog}
      </td>
    </tr>
    {/if}
    
	</table>
<br>
<input type="submit" name="submit" value="Submit">
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
