{include file="common/basic_header.tmpl"}
<h1>{$page_title}{if $id}: {$firstname} {$lastname}{/if}</h1>
{if $error_message}
<blockquote>
	{$error_message}
</blockquote>
{/if}
<p>
  {$instructions}
</p>
<p>
  Note that email and phone publish settings below only apply to regular
  players.  Captains will always have access to view the phone numbers and
  email addresses of their confirmed players.  Also, team captains will have
  their phone numbers and emails viewable by other players.
</p>
<p>
If you have concerns about the data OCUA collects, please see our 
<b><font color=red><a href="http://www.ocua.ca/ocua/policy/privacy_policy.html" target="_new">Privacy Policy</a></font></b>
</p>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="{$page_step}">
	<input type="hidden" name="id" value="{$id}">
	<table border="0">
    <tr>
      <td class='row_title'>First Name:</td> 
      <td class='row_data'><input type="text" name="firstname" size="25" value="{$firstname}"></td>
    </tr>
    <tr>
      <td class='row_title'>Last Name:</td> 
      <td class='row_data'><input type="text" name="lastname" size="25" value="{$lastname}"></td>
    </tr>

    <tr>
      <td class='row_title'>System Username:</td> 
      <td class='row_data'>
        {if $perm_edit_username}
        <input type="text" name="username" size="25" value="{$username}">
        {else}
          {$username}
        {/if}
      </td>
    </tr>

    {if $perm_edit_password}
    <tr>
      <td class='row_title'>Password:</td> 
      <td class='row_data'>
        <input type="password" name="password_once" size="25" value="">
      </td>
    </tr>
    <tr>
      <td class='row_title'>Re-Enter Password:</td> 
      <td class='row_data'>
        <input type="password" name="password_twice" size="25" value="">
      </td>
    </tr>
    {/if}
    
    <tr>
      <td class='row_title'>Email Address:</td> 
      <td class='row_data'>
        {if $perm_edit_email}
        <input type="text" name="email" size="25" value="{$email}">
        <input type='checkbox' name='allow_publish_email' value='Y' {if $allow_publish_email == "Y"}checked{/if} />Allow other players to view my email
        {else}
          <a href="mailto:{$email}">{$email}</a>
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign="top">Address:</td> 
      <td class='row_data'>
        {if $perm_edit_address}
        <table border="0" cellspacing="3">
          <tr>
            <td class="row_data">Street address:</td>
            <td class="row_data"><input type="text" name="addr_street" size="25" value="{$addr_street}"></td>
          </tr>
          <tr>
            <td class="row_data">City:</td>
            <td class="row_data"><input type="text" name="addr_city" size="25" value="{$addr_city}"></td>
          </tr>
          <tr>
            <td class="row_data">Province:</td>
            <td class="row_data">
			        <select name="addr_prov">
              {create_options data=$provinces selected=$addr_prov}
			        </select>
            </td>
          </tr>
          <tr>
            <td class="row_data">Postal Code:</td>
            <td class="row_data"><input type="text" name="addr_postalcode" size="8" maxlength="7" value="{$addr_postalcode}"></td>
          </tr>
        </table>
        {else}
          {$addr_street|escape}<br>
          {$addr_city|escape}, {$addr_prov|escape} <br>
          {$addr_postalcode|escape}
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign='top'>Phone Numbers:</td>
      <td class='row_data'>
        Please enter in the format of <b>(NNN) NNN-NNNN</b> or <b>(NNN) NNN-NNNN x NNN</b>
      </td>
    </tr>
    {if $perm_edit_phone}
    <tr>
      <td align='right' class='row_data'>Home:</td>
      <td class='row_data'>
		    <input type='text' name='home_phone' size='25' value='{$home_phone}'>
        <input type='checkbox' name='publish_home_phone' value='Y' {if $publish_home_phone == "Y"}checked{/if} />Allow other players to view this number
      </td>
    </tr>
    <tr>
      <td align='right' class='row_data'>Work:</td>
      <td class='row_data'>
		    <input type='text' name='work_phone' size='25' value='{$work_phone}'>
        <input type='checkbox' name='publish_work_phone' value='Y' {if $publish_work_phone == "Y"}checked{/if} />Allow other players to view this number
      </td>
    </tr>
    <tr>
      <td align='right' class='row_data'>Mobile:</td>
      <td class='row_data'>
		    <input type='text' name='mobile_phone' size='25' value='{$mobile_phone}'>
        <input type='checkbox' name='publish_mobile_phone' value='Y' {if $publish_mobile_phone == "Y"}checked{/if} />Allow other players to view this number
    </tr>
    {else}
    <tr>
      <td> </td>
      <td class='row_data'>
		  Home: {$home_phone}<br />
		  Work: {$work_phone}<br />
		  Mobile: {$mobile_phone}<br />
      </td>
    </tr>
    {/if}
    
    <tr>
      <td class='row_title'>Gender:</td> 
      <td class='row_data'>
        {if $perm_edit_gender}
        {foreach name=gender_list from=$gender_list item=g}
          <input type="radio" name="gender" value="{$g.value}" {if $g.value eq $gender}checked{/if}>{$g.output} &nbsp;
        {/foreach}
        {else}
          {$gender}
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign="top">Skill Level:</td> 
      <td class='row_data'>
        {if $perm_edit_skill}
          <input type="radio" name="skill_level" value="10" {if $skill_level eq 10}checked{/if}>10: High calibre competitive player (team was top 4 at nationals)<br />
          <input type="radio" name="skill_level" value="9" {if $skill_level eq 9}checked{/if}>9: Medium calibre competitive player<br />
          <input type="radio" name="skill_level" value="8" {if $skill_level eq 8}checked{/if}>8: Lower calibre competitive player<br />
          <input type="radio" name="skill_level" value="7" {if $skill_level eq 7}checked{/if}>7: Top tier Mon/Wed league player, minimal/no comp experience<br />
          <input type="radio" name="skill_level" value="6" {if $skill_level eq 6}checked{/if}>6: Mid to Upper tier Mon/Wed OR Top Tier Tue/Thu league player<br />
          <input type="radio" name="skill_level" value="5" {if $skill_level eq 5}checked{/if}>5: Mid tier league player<br />
          <input type="radio" name="skill_level" value="4" {if $skill_level eq 4}checked{/if}>4: Key player lower tier team, minimal/no higher tier experience<br />
          <input type="radio" name="skill_level" value="3" {if $skill_level eq 3}checked{/if}>3: Lower tier league player<br />
          <input type="radio" name="skill_level" value="2" {if $skill_level eq 2}checked{/if}>2: Beginner, minimal experience but athletic with sports background<br />
          <input type="radio" name="skill_level" value="1" {if $skill_level eq 1}checked{/if}>1: Absolute Beginner<br />
        {else}
          {$skill_level}
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Year Started:</td> 
      <td class='row_data'>
        {html_select_date prefix=started_ start_year=1986 display_days=no display_months=no reverse_years=yes time=$started_year}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Birthday:</td> 
      <td class='row_data'>
        {html_select_date prefix=birth_ start_year=-60 end_year=-10 reverse_years=yes time=$birthdate}
      </td>
    </tr>
   
    {if $perm_edit_class} 
    <tr>
      <td class='row_title'>Account Class:</td>
      <td>
        <select name='class'>
        {create_options data=$classes selected=$class}
        </select>
      </td>
    </tr>
    {/if}
    {if $perm_edit_dog} 
    <tr>
      <td colspan=2>Do you have a dog that you will be bringing to games?  
      {if $has_dog == "Y"}
        <input type="radio" name="has_dog" value="Y" checked> Yes /  
        <input type="radio" name="has_dog" value="N"> No <br>
      {else}
        <input type="radio" name="has_dog" value="Y"> Yes /  
        <input type="radio" name="has_dog" value="N" checked> No <br>
      {/if}
      </td>
    </tr>
    {/if}
	</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
