{include file="common/basic_header.tmpl"}
<h1>{$page_title}{if $id}: {$firstname} {$lastname}{/if}</h1>
{if $error_message}
<blockquote>
	{$error_message}
</blockquote>
{/if}
<p>
  {$instructions}
</p>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="{$page_step}">
	<input type="hidden" name="id" value="{$id}">
	<table border="0">
    <tr>
      <td class='row_title'>First Name:</td> 
      <td class='row_data'><input type="text" name="firstname" size="25" value="{$firstname}"></td>
    </tr>
    <tr>
      <td class='row_title'>Last Name:</td> 
      <td class='row_data'><input type="text" name="lastname" size="25" value="{$lastname}"></td>
    </tr>

    <tr>
      <td class='row_title'>System Username:</td> 
      <td class='row_data'>
        {if $perm_edit_username}
        <input type="text" name="username" size="25" value="{$username}">
        {else}
          {$username}
        {/if}
      </td>
    </tr>

    {if $perm_edit_password}
    <tr>
      <td class='row_title'>Password:</td> 
      <td class='row_data'>
        <input type="password" name="password_once" size="25" value="">
      </td>
    </tr>
    <tr>
      <td class='row_title'>Re-Enter Password:</td> 
      <td class='row_data'>
        <input type="password" name="password_twice" size="25" value="">
      </td>
    </tr>
    {/if}
    
    <tr>
      <td class='row_title'>Email Address:</td> 
      <td class='row_data'>
        {if $perm_edit_email}
        <input type="text" name="email" size="25" value="{$email}">
        {else}
          <a href="mailto:{$email}">{$email}</a>
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign="top">Address:</td> 
      <td class='row_data'>
        {if $perm_edit_address}
        <table border="0" cellspacing="3">
          <tr>
            <td class="row_data">Street address:</td>
            <td class="row_data"><input type="text" name="addr_street" size="25" value="{$addr_street}"></td>
          </tr>
          <tr>
            <td class="row_data">City:</td>
            <td class="row_data"><input type="text" name="addr_city" size="25" value="{$addr_city}"></td>
          </tr>
          <tr>
            <td class="row_data">Province:</td>
            <td class="row_data">
			        <select name="addr_prov">
              {create_options data=$provinces selected=$addr_prov}
			        </select>
            </td>
          </tr>
          <tr>
            <td class="row_data">Postal Code:</td>
            <td class="row_data"><input type="text" name="addr_postalcode" size="8" maxlength="6" value="{$addr_postalcode}"></td>
          </tr>
        </table>
        {else}
          {$addr_street|escape}<br>
          {$addr_city|escape}, {$addr_prov|escape} <br>
          {$addr_postalcode|escape}
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title' valign='top'>Phone Numbers:</td> 
      <td class='row_data'>
        {if $perm_edit_phone}
		    <input type='text' name='home_phone' size='25' value='{$home_phone}'> (home)<br />
		    <input type='text' name='work_phone' size='25' value='{$work_phone}'> (work)<br />
		    <input type='text' name='mobile_phone' size='25' value='{$mobile_phone}'> (mobile)<br />
        {else}
		      {$home_phone} (home)<br />
		      {$work_phone} (work)<br />
		      {$mobile_phone} (mobile)<br />
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Gender:</td> 
      <td class='row_data'>
        {if $perm_edit_gender}
        {foreach name=gender_list from=$gender_list item=g}
          <input type="radio" name="gender" value="{$g.value}" {if $g.value eq $gender}checked{/if}>{$g.output} &nbsp;
        {/foreach}
        {else}
          {$gender}
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Skill Level:</td> 
      <td class='row_data'>
        {if $perm_edit_skill}
        {foreach name=skill_list from=$skill_list item=skill}
          <input type="radio" name="skill_level" value="{$skill.value}" {if $skill.value eq $skill_level}checked{/if}>{$skill.output} &nbsp;
        {/foreach}
        {else}
          {$skill_level}
        {/if}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Year Started:</td> 
      <td class='row_data'>
        {html_select_date prefix=started_ start_year=-30 display_days=no display_months=no reverse_years=yes time=$started_year}
      </td>
    </tr>
    
    <tr>
      <td class='row_title'>Birthday:</td> 
      <td class='row_data'>
        {html_select_date prefix=birth_ start_year=-60 end_year=-10 reverse_years=yes time=$birthdate}
      </td>
    </tr>
    
    <tr>
      <td colspan=2>May we list your email address for other members to see?  
      {if $allow_publish_email}
        <input type="radio" name="allow_publish_email" value="Y" checked> Yes /  
        <input type="radio" name="allow_publish_email" value="N"> No <br>
      {else}
        <input type="radio" name="allow_publish_email" value="Y"> Yes /  
        <input type="radio" name="allow_publish_email" value="N" checked> No <br>
      {/if}
      </td>
    </tr>
    <tr>
      <td colspan=2>May we list your phone number for other members to see?  
      {if $allow_publish_phone}
        <input type="radio" name="allow_publish_phone" value="Y" checked> Yes /  
        <input type="radio" name="allow_publish_phone" value="N"> No <br>
      {else}
        <input type="radio" name="allow_publish_phone" value="Y"> Yes /  
        <input type="radio" name="allow_publish_phone" value="N" checked> No <br>
      {/if}
      </td>
    </tr>
	</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
