{include file="common/basic_header.tmpl"}
<h1>Forgot your password?</h1>
<p>
	If you've forgotten your password, please enter as much information
	as you can in the following fields.   If you can only remember one
	or two things, that's OK... we'll try and figure it out.  Member ID 
	or username are required if you are sharing an email address with
	another registered player.
	<br />
	If you don't receive an email within a few hours, you may not have
	remembered correctly, or the system may be encountering problems.
</p>
<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="perform">
	<table border="0">
    <tr>
		<td class='row_title'><B>Username:</b></td>
		<td class='row_data'><input type='text' name='username' size='25'></td>
	</tr>
    <tr>
		<td class='row_title'><B>Member ID Number:</b></td>
		<td class='row_data'><input type='text' name='member_id' size='25'></td>
	</tr>
    <tr>
		<td class='row_title'><B>Email Address:</b></td>
		<td class='row_data'><input type='text' name='email' size='40'></td>
	</tr>
	</table>
<br>
<input type='submit' name='submit' value='Submit'>
<input type='reset' name='reset' value='Reset'>
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
