{include file="common/basic_header.tmpl"}
<h1>Member Survey</h1>
<blockquote>
<p>
To help with OCUA's efforts to better serve the players of the league, please
answer the following questions.  The statistics compiled from these answers
will be used to provide some demographic information about OCUA's membership
for use when lobbying various levels of government, and courting sponsors to
support Ultimate.
</p>
<p>
  You will only be asked for this information once a year, when you reactivate
your account.  This information is stored separately from your user account,
and will never be associated with your OCUA user account or traceable to your
identity in any way.
</p>
<p>
  Note that all questions are voluntary and you may choose not to answer some
  or all of them, however in the interest of helping to grow Ottawa ultimate,
  we hope that you do.
</p>
</blockquote>
<form action='{$app_cgi_location}' method='POST'>
	<input type='hidden' name='op' value='{$page_op}'>
	<input type='hidden' name='step' value='{$page_step}'>
  <table border='0'>
  
    <tr>
      <td>Your approximate annual household income:</td>
      <td><select name='demographics[income]'>
        <option value='---'>Not Specified
        <option value='000to020K'>Less than $20,000
        <option value='020to040K'>$20,000 to $39,999
        <option value='040to060K'>$40,000 to $59,999
        <option value='060to080K'>$60,000 to $79,999
        <option value='080to100K'>$80,000 to $99,999
        <option value='100to150K'>$100,000 to $149,999
        <option value='150to200K'>$150,000 to $199,999
        <option value='200Kplus'>Over $200,000
      </select></td>
    </tr>
      
    <tr>
      <td>Children:</td>
      <td><select name='demographics[num_children]'>
        <option value='---'>Not Specified
        <option>0
        <option>1
        <option>2
        <option>3
        <option>4
        <option>more than 4
      </select</td>
    </tr>

    <tr>
      <td>Highest level of education completed:</td>
      <td><select name='demographics[education]'>
        <option value='---'>Not Specified
        <option value='none'>None completed
        <option value='highschool'>High school
        <option value='trade'>Trade / Technical school
        <option value='college'>College diploma
        <option value='undergrad'>University undergraduate degree
        <option value='masters'>Masters degree
        <option value='doctorate'>Doctoral degree
      </td></select>
    </tr>

    <tr>
      <td>Field of expertise or employment:</td>
      <td><select name='demographics[field]'>
        <option value='---'>Not Specified
        <option>Administration
        <option>Advertising / Marketing / Public Relations
        <option>Agriculture / Forestry
        <option>Arts / Media
        <option>Biotechnology
        <option>Construction
        <option>Customer Service
        <option>Education
        <option>Engineering
        <option>Finance / Accounting
        <option>Hardware Development
        <option>Healthcare
        <option>Human Resources
        <option>Information Technology
        <option>Law Enforcement / Security
        <option>Legal
        <option>Politics
        <option>Restaurant / Food Service
        <option>Sales
        <option>Software Development
        <option>Tourism / Hospitality
        <option>Other (Government)
        <option>Other (Not Listed)
      </select></td>
    </tr>
    
    <tr>
      <td>I prefer to communicate in:</td>
      <td><select name='demographics[language]'>
        <option value='---'>Not Specified
        <option value='en'>English
        <option value='fr'>French
        <option value='enfr'>Either/Or
      </select></td>
    </tr>
    
    <tr>
      <td valign='top'>I also take part in (check all that apply):</td>
      <td>
        <label><input type='checkbox' name='demographics[other_sports][]' value='baseball'>Baseball / Softball</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='basketball'>Basketball</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='canoeing'>Canoeing/Kayaking</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='cricket'>Cricket</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='curling'>Curling</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='discgolf'>Disc Golf</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='skisnowboard'>Downhill Skiing/Snowboarding</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='football'>Football</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='goaltimate'>Goaltimate</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='golf'>Golf</label><br />
      </td>
      <td>
        <label><input type='checkbox' name='demographics[other_sports][]' value='camping'>Hiking/Camping</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='hockey'>Hockey</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='indoorsoccer'>Indoor Soccer</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='biking'>Mountain Biking/Cycling</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='racquet'>Racquet Sports</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='rockclimbing'>Rock Climbing</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='rugby'>Rugby</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='running'>Running</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='soccer'>Soccer</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='volleyball'>Volleyball</label><br />
        <label><input type='checkbox' name='demographics[other_sports][]' value='xcskiing'>X-Country Skiing</label><br />
      </td>
    </tr>
        
  </table>
  <input type='submit' name='submit' value='Submit'>
  <input type='reset' name='reset' value='Reset'>
</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
