{include file="common/basic_header.tmpl"}
<h1>{$full_name}</h1>
<table border="0">
  <tr>
    <td class='row_title'>Name:</td> 
    <td class='row_data'>{$full_name|escape}</td>
  </tr>

  {if $username}
  <tr>
    <td class='row_title'>System Username:</td> 
    <td class='row_data'>{$username|escape}</td>
  </tr>
  {/if}

  {if $member_id}
  <tr>
    <td class='row_title'>Member ID:</td> 
    <td class='row_data'>{$member_id|escape}</td>
  </tr>
  {/if}

  {if $email}
  <tr>
    <td class='row_title'>Email Address:</td> 
    <td class='row_data'><a href="mailto:{$email|escape}">{$email|escape}</a></td>
  </tr>
  {/if}

  {if $perm_phone}
  <tr>
    <td class='row_title' valign="top">Phone Numbers:</td> 
    <td class='row_data'>
      {if $home_phone}{$home_phone} (home)<br />{/if}
      {if $work_phone}{$work_phone} (work)<br />{/if}
      {if $mobile_phone}{$mobile_phone} (mobile)<br />{/if}
    </td>
  </tr>
  {/if}

  {if $address}  
  <tr>
    <td class='row_title' valign='top'>Address:</td> 
    <td class='row_data'>
      {$addr_street|escape}<br>
      {$addr_city|escape}, {$addr_prov|escape} <br>
      {$addr_postalcode|escape}
    </td>
  </tr>
  {/if}

  {if $birthdate}
  <tr>
    <td class='row_title'>Birthdate:</td> 
    <td class='row_data'>{$birthdate|escape}</td>
  </tr>
  {/if}

  {if $gender}
  <tr>
    <td class='row_title'>Gender:</td> 
    <td class='row_data'>{$gender|escape}</td>
  </tr>
  {/if}

  {if $skill}
  <tr>
    <td class='row_title'>Skill Level:</td> 
    <td class='row_data'>{$skill_level|escape}</td>
  </tr>
  <tr>
    <td class='row_title'>Year Started:</td> 
    <td class='row_data'>{$year_started|escape}</td>
  </tr>
  {/if}

  {if $class}
  <tr>
    <td class='row_title'>Account Class:</td> 
    <td class='row_data'>{$class|escape}</td>
  </tr>
  {/if}

  {if $waiver_signed}
  <tr>
    <td class='row_title'>Waiver Signed:</td> 
    <td class='row_data'>{$waiver_signed|escape}</td>
  </tr>
  {/if}
  {if $last_login}
  <tr>
    <td class='row_title'>Last Login:</td> 
    <td class='row_data'>{$last_login|escape}</td>
  </tr>
  <tr>
    <td class='row_title'>Last Login From:</td> 
    <td class='row_data'>{$client_ip|escape}</td>
  </tr>
  {/if}

  <tr>
    <td class='row_title'>Teams:</td> 
    <td class='row_data'>
      <table border='0'><tdata>
        {foreach name=teamlist from=$teams item=team}
          <tr>
            <td>{$team.position}</td>
            <td>on</td>
            <td><a href="{$app_cgi_location}?op=team_view&id={$team.id}">{$team.name}</a></td>
          </tr>
        {/foreach}
      </tdata></table>
    </td>
  </tr>
	</table>

  <ul>
  {if $perm_user_edit}
	  <li><a href="{$app_cgi_location}?op=person_edit&id={$user_id}">edit</a> this information.
  {/if}
  {if $perm_user_change_perms}
	  <li><a href="{$app_cgi_location}?op=person_editperms&id={$user_id}">change permissions</a> for this user.
  {/if}
  {if $perm_user_change_password}
	  <li><a href="{$app_cgi_location}?op=person_changepassword&id={$user_id}">change password</a> for this user.
  {/if}
  {if $perm_user_delete}
	  <li><a href="{$app_cgi_location}?op=person_delete&id={$user_id}">permanently delete</a> this user.
  {/if}
  </ul>

{include file="common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et: *}
