{include file="common/basic_header.tmpl"}
<h1>{if $id}Editing {$field.site_name} {$field.num}{else}Create New Field{/if}</h1>
<p>
	Confirm that the data below is correct, and hit continue to make your changes.
</p>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="perform">
{if $id}
	<input type="hidden" name="id" value="{$id}">
{/if}
{if $site_id}
	<input type="hidden" name="site_id" value="{$site_id}">
{/if}
	<table border="0">
    <tr>
      <td class='row_title'>Site Name:</td> 
      <td class='row_data'>{$field.site_name} ({$field.site_code})</td>
    </tr>
    <tr>
      <td class='row_title'>Field Number:</td> 
      <td class='row_data'><input type="hidden" name="field[num]" value="{$field.num}">{$field.num}</td>
    </tr>
    <tr>
      <td class='row_title'>Status:</td> 
      <td class='row_data'><input type="hidden" name="field[status]" value="{$field.status}">{$field.status}</td>
    </tr>
    <tr>
      <td class='row_title'>Availability:</td> 
      <td class='row_data'><input type="hidden" name="field[availability]" value="{$field.availability}">{$field.availability}</td>
    </tr>
	</table>
<br>
<input type="submit" name="submit" value="Submit">
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
