{include file="common/basic_header.tmpl"}
<h1>{$page_title}</h1>
<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="{$page_step}">
	<input type="hidden" name="id" value="{$id}">
	<input type="hidden" name="league_id" value="{$league_id}">
	<input type="hidden" name="day" value="{$day}">
	<blockquote>
	<p>You have chosen to remove the assignment of <b>{$field_name}</b> from <b>{$league_name}</b> for <b>{$day}</b></p>
	<p>
    If this is correct, please click "Submit" to proceed.
	</p>
	</blockquote>
<input type="submit" name="submit" value="Submit">
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
