{include file="$app_template_dir/common/basic_header.tmpl"}

<h1>{$field_name}</h1>

<table border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td class='row_title'>Field information:</td>
    <td class='row_data'><a href="{$field_website}" target="_new">{$field_website}</a></td>
  </tr>
  <tr>
    <td class='row_title' valign='top'>Assignments:</td>
    <td class='row_data'>
      <table width="100%" cellspacing="0" cellpadding="3">
      <tr class='booking_title'>
        <td>Day</td>
        <td>League</td>
        <td colspan="2">&nbsp;</td>
      </tr>
      {foreach name=assignments from=$field_assignments item=booking}
      <tr>
        <td class='booking_item' valign='top'>
           {$booking.day}
        </td>
        <td class='booking_item'>
      {foreach name=leagues from=$booking.leagues item=league}
         &raquo;&nbsp;{$league.name} [&nbsp;<a href="{$app_cgi_location}?op=league_view&id={$league.league_id}">view league</a> {if $perm_field_edit}
				  | <A href="{$app_cgi_location}?op=field_unassign&id={$field_id}&league_id={$league.league_id}&day={$booking.day}">delete booking</a>
        {/if}
        ]<br>
      {foreachelse}
        &nbsp;
      {/foreach}
        </td>
        <td class='booking_item' valign="top">
        {if $perm_field_edit}
					[ <A href="{$app_cgi_location}?op=field_assign&id={$field_id}&day={$booking.day}">add new booking</a> ]
        {else}
          &nbsp;
        {/if}
        </td>
      </tr>
      {/foreach}
      </table>
    </td>
  </tr>
</table>

<ul>
  <li><a href="{$app_cgi_location}?op=field_edit&id={$field_id}">edit field</a>.
</ul>


{include file="$app_template_dir/common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et: *}
