{include file="$app_template_dir/common/basic_header.tmpl"}
 <h1 align='left'>{$page_title}</h1>
 <blockquote>
 {$error_message}
 </blockquote>
{include file="$app_template_dir/common/basic_footer.tmpl"}
