{include file="$app_template_dir/common/basic_header.tmpl"}
<br />
<form action="{$app_cgi_location}" method="POST">
<table align='center' border='0' cellpadding='5' width='300'>
<tr>
	<td colspan='2' align='center'>
	{if $error}
	<font color='red'><b>{$error}</b></font>
	{/if}
  &nbsp;
	</td>
</tr>
<tr>
	<td>Username:</td>
	<td><input type='text' name='username' size='25'></td>
</tr>
<tr>
	<td>Password:</td>
	<td><input type='password' name='password' size='25'></td>
</tr>
<tr>
	<td colspan='2' align='center' valign='middle'>
		<input type='submit' name='submit' value='Log In'>
    <br>
    <a href="{$app_cgi_location}?op=person_resetpw">Forgot your password?</a> | <A HREF="{$app_cgi_location}?op=person_create">Create New Account</a>
  </td>
</tr>
</table>
<input type='hidden' name='op' value='login'>
</form>

{include file="$app_template_dir/common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et: *}
