{include file="common/basic_header.tmpl"}
<br />
<table border="0" cellpadding="3" cellspacing="0">

  {* All users get this section *}
  <tr>
    <td class="menu_title">My Account</td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=person_view&id={$user_id}'>View/Edit My Account</a></td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=person_changepassword&id={$user_id}'>Change Password</a></td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=logout'>Log Out</a></td>
  </tr>

  {* All users get this section *}
  <tr>
    <td class="menu_title">Teams</td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="3" cellspacing="0">
      {foreach name=teamlist from=$teams item=team}
      <tr>
        <td class="menu_item">{$team.name}</td>
        <td class="menu_item">({$team.position})</td>
        <td class="menu_item"><a href="{$app_cgi_location}?op=team_view&id={$team.id}">info</a></td>
        <td class="menu_item"><a href="{$app_cgi_location}?op=team_schedule_view&id={$team.id}">scores and schedules</a></td>
        <td class="menu_item"><a href="{$app_cgi_location}?op=team_standings&id={$team.id}">standings</a></td>
      </tr>
      {/foreach}
      </table>
    </td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=team_list'>List Other Teams</a></td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=team_create'>Create New Team</a></td>
  </tr>

  {* Only league coordinators and admins get this section *}
  <tr>
    <td class="menu_title">Leagues</td>
  </tr>
  <tr>
    <td class="menu_item">
      <table border="0" cellpadding="3" cellspacing="0">
      {foreach name=leaguelist from=$leagues item=league}
      <tr>
        <td class="menu_item">{$league.name}{if $league.tier} Tier{$league.tier}{/if}</td>
        <td class="menu_item"><a href="{$app_cgi_location}?op=league_view&id={$league.id}">view</a></td>
        {if $league.allow_schedule == 'Y'}
        <td class="menu_item"><a href="{$app_cgi_location}?op=league_schedule_view&id={$league.id}">schedule</a></td>
        <td class="menu_item"><a href="{$app_cgi_location}?op=league_standings&id={$league.id}">standings</a></td>
        <td class="menu_item"><a href="{$app_cgi_location}?op=league_score_verify&id={$league.id}">approve scores</a></td>
        {else}
        <td colspan='3' class='menu_item'>&nbsp;</td>
        {/if}
      </tr>
      {/foreach}
      </table>
    </td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=league_list'>List Leagues</a></td>
  </tr>
    {if $perm_league_create}
    <tr>
      <td class="menu_item"><a href='{$app_cgi_location}?op=league_create'>Create New League</a></td>
    </tr>
    {/if}

  {* General system junk *}
  {if $perm_field_admin}
  <tr>
    <td class="menu_title">Fields</td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=field_list'>List Fields</a></td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=field_create'>Create New Field</a></td>
  </tr>
  {/if}

  {* General system junk *}
  {if $perm_user_admin}
  <tr>
    <td class="menu_title">System</td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=person_listnew'>List New Users</a>{if $new_user_count gt 0} ({$new_user_count} awaiting approval){/if}</td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=person_list'>List Users</a></td>
  </tr>
  <tr>
    <td class="menu_item"><a href='{$app_cgi_location}?op=person_create'>Create New User</a></td>
  </tr>
  {/if}
  
</table>
{include file="common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et: *}
