<h1>{$page_title}</h1>
<p>
  Finalize the score for the {$date} game between {$home_name} and {$away_name}.
</p>

<form action='{$app_cgi_location}' method='POST'>
<input type='hidden' name='op' value='{$page_op}'>
<input type='hidden' name='step' value='{$page_step}'>
<input type='hidden' name='id' value='{$id}'>
<table border='1' cellpadding='3' cellspacing='0'>
  <tr class='schedule_title'>
    <td>Game Date</td>
    <td colspan='2'>Home Team Submission</td>
    <td colspan='2'>Away Team Submission</td>
  </tr>
  <tr class='schedule_item'>
    <td rowspan='4'>{$date}</td>
    <td colspan='2'>{$home_name}</td>
    <td colspan='2'>{$away_name}</td>
  </tr>
  <tr class='schedule_item'>
    <td>Home Score:</td> <td>{$home_self_score}</td>
    <td>Home Score:</td> <td>{$away_opp_score}</td>
  </tr>
  <tr class='schedule_item'>
    <td>Away Score:</td> <td>{$home_opp_score}</td>
    <td>Away Score:</td> <td>{$away_self_score}</td>
  </tr>
  <tr class='schedule_item'>
    <td>Away SOTG:</td>  <td>{$home_opp_sotg}</td>
    <td>Home SOTG:</td> <td>{$away_opp_sotg}</td>
  </tr>

  <tr class='schedule_title'>
    <td colspan='5'>&nbsp;</td>
  </tr>

  <tr class='schedule_item'>
    <td><b>Final score should be:</b></td>
    <td>Home Team:</td> 
    <td><input type='text' name='home_score' size='2' maxlength='2'></td>
    <td>Away Team:</td> 
    <td><input type='text' name='away_score' size='2' maxlength='2'></td>
  </tr>
  <tr class='schedule_item'>
    <td><b>Spirit scores received should be:</b></td>
    <td>Home Team:</td>
    <td>
      <select name='home_sotg'>
        <option selected>---
        <option>10
        <option>9
        <option>8
        <option>7
        <option>6
        <option>5
        <option>4
        <option>3
        <option>2
        <option>1
      </select>
    </td>
    <td>Away Team:</td> 
    <td>
      <select name='away_sotg'>
        <option selected>---
        <option>10
        <option>9
        <option>8
        <option>7
        <option>6
        <option>5
        <option>4
        <option>3
        <option>2
        <option>1
      </select>
    </td>
  </tr>
</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{* vim: set ai sw=2 ts=2 et: *}
