<html>
  <head>
    <title>{$app_name}: {$page_title}</title>
    <link rel='stylesheet' href="style.css" type="text/css">
  </head>
  <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">
{strip}
  <table border='0' cellpadding='3' cellspacing='0' width='760' bgcolor='white'>
    <tr class='toprow'>
      <td colspan='2'>
        <h1>{$app_name}</h1>
      </td>
    </tr>
    <tr class='toprow'>
      <td>
        {if $page_user_name}
        Welcome <b>{$page_user_name}</b>.  You are at: <b>{$page_title}</b>
        {/if}
      </td>
      <td align='right' valign='top'>
        <font color='white'>
          {if $page_user_name}
          <a class='topbarlink' href="{$app_cgi_location}?op=menu">main menu</a>
          &nbsp;|&nbsp;
          <a class='topbarlink' href="{$app_cgi_location}?op=logout">log out</a>
          {else}
          <a class='topbarlink' href="{$app_cgi_location}?op=login">log in</a>
          {/if}
        </font>
      </td>
    </tr>
    <tr>
      <td colspan='2' class='main'>
{/strip}
{* vim: set sw=2 ts=2 et: *}
