{include file="$app_template_dir/common/basic_header.tmpl"}
<h1>{$page_title}</h1>
{if $letters}
{foreach from=$letters item=i}
	{if $letter == $i}
		{$i}&nbsp;
	{else}
		<a href="{$app_cgi_location}?op={$page_op}&letter={$i}">{$i}</a>&nbsp;
	{/if}
{/foreach}
{/if}
<p>
<table>
{foreach from=$list item=each}
<tr>
	<td>{$each.value}</td>
	<td> 
  [
  {foreach name=available_ops from=$available_ops item=op}
    {if not $smarty.foreach.available_ops.first}|{/if} 
    <a href="{$app_cgi_location}?op={$op.action}&id={$each.id_val}">{$op.description}</a>
  {/foreach} 
  ]
	</td>
</tr>
{/foreach}
	</table>
{include file="$app_template_dir/common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et: *}
