{include file="common/basic_header.tmpl"}
<h1>{if $id}Editing {$league_name}{if $league_tier} Tier {$league_tier}{/if}{else}Create New League{/if}</h1>
{if $error_message}
<blockquote>
	{$error_message}
</blockquote>
{/if}

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="confirm">
{if $id}
	<input type="hidden" name="id" value="{$id}">
{/if}
	<table border="0">
  
    <tr>
      <td class='row_title'>League Name:</td> 
      <td class='row_data'><input type="text" name="league_name" size="35" value="{$league_name}"></td>
    </tr>
    
    {if $perm_edit_coordinator}
    <tr>
  		<td class='row_title'>Coordinator:</td>
  		<td class='row_data'>
  			<select name='coordinator_id'>
        {create_options data=$volunteers selected=$coordinator_id}
  			</select>
  		</td>
  	</tr>
  	<tr>
  		<td class='row_title'>Assistant Coordinator:</td>
  		<td class='row_data'>
  			<select name='alternate_id'>
        {create_options data=$volunteers selected=$alternate_id}
  			</select>
  		</td>
  	</tr>
    {/if}
    
    <tr>
      <td class='row_title'>Season:</td> 
  		<td class='row_data'>
  			<select name='league_season'>
        {create_options data=$seasons selected=$league_season}
  			</select>
  		</td>
    </tr>
    
    <tr>
      <td class='row_title' valign="top">Day(s) of week:</td> 
  		<td class='row_data'>
  			<select name='league_day[]' multiple>
        {create_options data=$days selected=$league_day}
  			</select>
  		</td>
    </tr>
    
    <tr>
      <td class='row_title'>Tier:</td> 
  		<td class='row_data'>
  			<select name='league_tier'>
        {create_options data=$tiers selected=$league_tier}
  			</select>
  		</td>
    </tr>
    
    <tr>
      <td class='row_title'>Ratio:</td> 
  		<td class='row_data'>
  			<select name='league_ratio'>
        {create_options data=$ratios selected=$league_ratio}
  			</select>
  		</td>
    </tr>
    
    <tr>
      <td class='row_title'>Current Round:</td> 
  		<td class='row_data'>
  			<select name='league_round'>
        {create_options data=$rounds selected=$league_round}
  			</select>
  		</td>
    </tr>
    
    <tr>
      <td class='row_title'>Usual Start Time:</td> 
  		<td class='row_data'>
        {html_select_time display_seconds=false minute_interval=5 prefix=league_start_time_ use_24_hours=true time=$league_start_time}
  		</td>
    </tr>

    <tr>
      <td class='row_title'>Allow Scheduling:</td>
      <td class='row_data'>
      {if $allow_schedule == 'Y'}
        <input type="radio" name="league_allow_schedule" value="Y" checked> Yes /  
        <input type="radio" name="league_allow_schedule" value="N"> No <br>
      {else}
        <input type="radio" name="league_allow_schedule" value="Y"> Yes /  
        <input type="radio" name="league_allow_schedule" value="N" checked> No <br>
      {/if}
      </td>
    </tr>
    
	</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
