<h1>{$page_title}</h1>
<p>
<table>
  <tr>
    <td colspan='4'>
{foreach from=$season_names item=name}
  {if $name == $current_season}
    {$name}&nbsp;|
  {else}
      <a href="{$app_cgi_location}?op={$page_op}&season={$name}">{$name}</a>&nbsp;|
  {/if}
{/foreach}
    </td>
  </tr>
<tr class='row_title'>
  <td>Name</td>
  <td>Ratio</td>
  <td></td>
  <td></td>
</tr>
{foreach from=$leagues item=l}
<tr>
	<td>{$l.name}{if $l.tier} Tier {$l.tier}{/if}</td>
	<td>{$l.ratio}</td>
	<td> 
    [ <a href="{$app_cgi_location}?op=league_view&id={$l.id}">view</a> ]
	</td>
</tr>
{/foreach}
	</table>
{* vim: set sw=2 ts=2 et: *}
