<h1>{$page_title}</h1>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="confirm">
	<input type="hidden" name="id" value="{$id}">
	<input type="hidden" name="team_id" value="{$team_id}">
  
	<table border="0">
    <tr>
      <td colspan='2'>
        You are attempting to move the team <b>{$team_name|escape}</b>.  Select the
        league you wish to move it to.
      </td>
    </tr>
    <tr>
      <td class="row_title" valign="top">League Name:</td>
      <td class="row_content">
        <select name='target_id'>
          {foreach name=leagues from=$leagues item=league}
          <option value='{$league.id}'>{$league.name}{if $league.tier} Tier {$league.tier}{/if}</option>
          {/foreach}
        </select>
    </tr>
	</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{* vim: set ai sw=2 ts=2 et: *}
