{include file="common/basic_header.tmpl"}
<h1>{$page_title}</h1>
<blockquote>
	The following games have not been finalized.
</blockquote>

<table border='1' cellpadding='3' cellspacing='0'>
  <tr class='schedule_title'>
    <td>Game Date</td>
    <td colspan='2'>Home Team Submission</td>
    <td colspan='2'>Away Team Submission</td>
    <td>&nbsp;</td>
  </tr>
  {foreach name=games from=$games item=game}
  <tr class='schedule_item'>
    <td rowspan='4'>{$game.date}</td>
    <td colspan='2'>{$game.home_name|escape}</td>
    <td colspan='2'>{$game.away_name|escape}</td>
    <td rowspan='4'><a href="{$app_cgi_location}?op=game_finalize&id={$game.id}">finalize score</a></td>
  </tr>
<tr class='schedule_item'>
  <td>Home Score:</td> <td>{$game.home_self_score}</td>
  <td>Home Score:</td> <td>{$game.away_opp_score}</td>
</tr>
<tr class='schedule_item'>
  <td>Away Score:</td> <td>{$game.home_opp_score}</td>
  <td>Away Score:</td> <td>{$game.away_self_score}</td>
</tr>
<tr class='schedule_item'>
  <td>Away SOTG:</td>  <td>{$game.home_opp_sotg}</td>
  <td>Home SOTG:</td> <td>{$game.away_opp_sotg}</td>
</tr>
  {/foreach}
</table>

{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
