<h1>Add games to {$league_name}</h1>

<p>
  Do you wish to add games on {$day} {$month_name} {$year}?  If not, use your
  back button to change the date.
<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="perform">
	<input type="hidden" name="id" value="{$league_id}">
	<input type="hidden" name="year" value="{$year}">
	<input type="hidden" name="month" value="{$month}">
	<input type="hidden" name="day" value="{$day}">
  <input type="submit" name="submit" value="Yes">
</form>
</p>
{* vim: set ai sw=2 ts=2 et: *}
