<h1>Editing Schedule for {$league_name}{if $league_tier} Tier {$league_tier}{/if}</h1>

<p>
  Confirm that the changes below are correct, and click "Continue"
</p>
<form action='{$app_cgi_location}' method='POST'>
<input type='hidden' name='op' value='league_schedule_edit'>
<input type='hidden' name='step' value='perform'>
<input type='hidden' name='id' value='{$league_id}'>
<table border="0" cellpadding="3" cellspacing="0"><tdata>
  <tr>
    <td class="schedule_subtitle">Game ID</td>
    <td class="schedule_subtitle">Round</td>
    <td class="schedule_subtitle">Game Time</td>
    <td class="schedule_subtitle">Home</td>
    <td class="schedule_subtitle">Away</td>
    <td class="schedule_subtitle">Field</td>
  </tr>
{foreach name=games from=$games item=game}
  <tr>
    <td><input type='hidden' name='games[{$game.game_id}][game_id]' value='{$game.game_id}'>{$game.game_id}</td>
    <td><input type='hidden' name='games[{$game.game_id}][round]' value='{$game.round}'>{$game.round}</td>
    <td><input type='hidden' name='games[{$game.game_id}][start_time]' value='{$game.start_time}'>{$game.start_time}</td>
    <td><input type='hidden' name='games[{$game.game_id}][home_id]' value='{$game.home_id}'>{$game.home_name|escape}</td>
    <td><input type='hidden' name='games[{$game.game_id}][away_id]' value='{$game.away_id}'>{$game.away_name|escape}</td>
    <td><input type='hidden' name='games[{$game.game_id}][field_id]' value='{$game.field_id}'>{$game.field_name}</td>
  </tr>
{/foreach}
</tdata></table>
      <input name='submit' value='Continue' type='submit'>
</form>
{* vim: set sw=2 ts=2 et: *}
