{include file="common/basic_header.tmpl"}
<h1>{$page_title}</h1>
<blockquote>
  {$instructions}<br>
  If this is correct, click the "Submit" button below to continue.
<form action="{$app_cgi_location}" method="POST">
  <input type="hidden" name="op" value="{$page_op}">
  <input type="hidden" name="step" value="{$page_step}">
  <input type="hidden" name="action" value="{$action}">
  <input type="hidden" name="id" value="{$id}">
  <input type="hidden" name="team_id" value="{$team_id}">
  
  <table border="0">
    <tr>
      <td class='row_title' valign='top'>League:</td>
      <td class='row_data'>
      <table border="0">
        <tr>
          <td class='row_data'>Name:</td>
          <td class='row_data'>{$league.name}</td>
        </tr>
        <tr>
          <td class='row_data'>Day:</td>
          <td class='row_data'>{$league.day}</td>
        </tr>
        <tr>
          <td class='row_data'>Season:</td>
          <td class='row_data'>{$league.season}</td>
        </tr>
        <tr>
          <td class='row_data'>Year:</td>
          <td class='row_data'>{$league.year}</td>
        </tr>
        <tr>
          <td class='row_data'>Tier:</td>
          <td class='row_data'>{$league.tier}</td>
        </tr>
      </table>
      </td>
    </tr>
    <tr>
      <td class='row_title'>Team:</td>
      <td class='row_data'>{$team_name}</td>
    </tr>
  </table>
  <input type="submit" name="submit" value="Submit">
</form>
</blockquote>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
