<h1>{$page_title}: {$league_name}{if $league_tier} Tier {$league_tier}{/if}</h1>
<table border="0">
  <tr>
    <td class='row_title'>Coordinator:</td> 
    <td class='row_data'><a href="{$app_cgi_location}?op=person_view&id={$coordinator_id}">{$coordinator_name}</a></td>
  </tr>
  {if $co_coordinator_id}
  <tr>
    <td class='row_title'>Co-Coordinator:</td> 
    <td class='row_data'><a href="{$app_cgi_location}?op=person_view&id={$co_coordinator_id}">{$co_coordinator_name}</a></td>
  </tr>
  {/if}
  <tr>
    <td class='row_title'>Season:</td> 
    <td class='row_data'>{$league_season}</a></td>
  </tr>
  <tr>
    <td class='row_title'>Day(s):</td> 
    <td class='row_data'>{$league_day}</a></td>
  </tr>
  <tr>
    <td class='row_title'>Tier:</td> 
    <td class='row_data'>{$league_tier}</a></td>
  </tr>
  {if $league_allow_schedule == 'Y'}
  <tr>
    <td class='row_title'>Current Round:</td> 
    <td class='row_data'>{$league_current_round}</a></td>
  </tr>
  {/if}
  <tr>
    <td class='row_title'>Maximum teams:</td> 
    <td class='row_data'>{$league_maxteams}</a></td>
  </tr>
  {if $league_allow_schedule == 'Y'}
  <tr>
    <td class='row_title'>Usual Start Time:</td> 
    <td class='row_data'>{$league_start_time|date_format:"%H:%M"}</a></td>
  </tr>
  {/if}
</table>

	<p>
  {if $league_allow_schedule == 'Y'}
	| <a href="{$app_cgi_location}?op=league_schedule_view&id={$league_id}">view{if $perm_adminster_league}/edit{/if} schedule</a>
	| <a href="{$app_cgi_location}?op=league_standings&id={$league_id}">view standings</a>
    {if $perm_administer_league}
	   | <a href="{$app_cgi_location}?op=league_verifyscores&id={$league_id}">approve scores</a> 
    {/if}
  {/if}
  {if $perm_administer_league}
		| <a href="{$app_cgi_location}?op=league_edit&id={$league_id}">edit info</a>
		| <a href="{$app_cgi_location}?op=league_captemail&id={$league_id}">fetch captain emails</a>
  {/if}
  |	
	</p>

<table border='0' cellpadding='3' cellspacing='0'><tdata>
  <tr>
    <td colspan='5' class='teamlist_title'>Teams</td>
  </tr>
{foreach name=teamlist from=$teams item=team}
  <tr>
    <td class='teamlist_item'>{$team.name|escape}</td>
    <td class='teamlist_item'>{$team.shirt_colour|escape}&nbsp</td>
    <td class='teamlist_item'>
    [ <a href="{$app_cgi_location}?op=team_view&id={$team.id}">view</a>
    {if $team.team_status == 'open'}
    | <a href="{$app_cgi_location}?op=team_playerstatus&id={$team.id}&player_id={$player_id}&status=player_request&step=confirm">join team</a>
    {/if}
    {if $perm_administer_league}
      | <a href="{$app_cgi_location}?op=league_moveteam&id={$league_id}&team_id={$team.id}">move team</a>
      | <a href="{$app_cgi_location}?op=league_moveteam&id={$league_id}&team_id={$team.id}&target_id=1&step=confirm">deactivate team</a>
    {/if}
    ]
    </td> 
  </tr>
{/foreach}
</tdata></table>
{* vim: set sw=2 ts=2 et: *}
