.warning        { background-color: red; border: 1px solid black; }

/* Defaults for tables */
fieldset {
	margin-bottom: 1em;
	padding: .5em;
}
fieldset fieldset {
	border: 1px solid #993333;
}

#main td, #main th { 
	vertical-align: top; 
	padding-left: 0.3em; 
	padding-right: 0.3em;
}

/* CSS2 to bold-face the left-hand column */
.pairtable td:first-child {
	font-weight:    bold;
}

.baretable td:first-child {
	font-weight:	normal;
}

.listtable th {
	font-weight:         bold;
	border-bottom: 1px solid #BBB;
	text-align: left;
}

.listtable td {
	border-bottom: 1px solid #BBB;
}

.listtable .subtitle {
	font-weight: bold;
	border-bottom: 1px solid black;
}

tr.light {
	background-color: white;
}

tr.dark {
	background-color: lightblue;
}

.highlight { background-color: lightgreen; }

.listtable .roster_conflict {
	color: red;
	font-weight: bold;
}

/* SUC Override
.schedule .gamedate, .schedule th {
	background-color:    white;
  	color: #369;
	border-bottom: 2px solid #369;
	font-weight:         bold;
}
*/

.schedule .column-heading {
	font-weight: bold;
	vertical-align: bottom;
	border-bottom: 1px solid #BBB;
}

.schedule tr.dark {
	background-color: #DDF;
}

.fieldlist th    { background-color: white; color: #039; font-weight: bold; font-size: 1.5em }
.fieldlist td a { font-weight: bold }
.fieldlist td a.closedfield { font-weight: normal; text-decoration: line-through; color: #C0C0C0; }

/* SUC Override
.splash table { border-collapse: collapse; width: 100% !important; }
.splash th { text-align: left; background-color: black; color: white;
              font-weight: bold; font-size: 9pt; }
.splash td { font-size: 8pt; }
.splash .highlight { background-color: lightblue; }
*/

.error { color: red; font-weight: bold; }

/* Menu styles */
.menu {
  padding: 0 0 0 0.5em;
  margin: 0;
}

.menu ul {
	list-style: none;
	border: none;
	text-align: left;
	margin: 0;
	padding: 0 0 0.25em 1em;
}

li.expanded {
	list-style-type: circle;
	list-style-image: url(../image/menu/menu-expanded.png);
	padding: 0.2em 0.5em 0 0;
	margin: 0;
}
li.collapsed {
	list-style-type: disc;
	list-style-image: url(../image/menu/menu-collapsed.png);
	padding: 0.2em 0.5em 0 0;
	margin: 0;
}
li.leaf {
	list-style-type: square;
	list-style-image: url(../image/menu/menu-leaf.png);
	padding: 0.2em 0.5em 0 0;
	margin: 0;
}
li.active a {
	color: #000;
	font-weight: bold;
}

/* SUC Override
.menu li a {
	width: 100%;
	text-decoration: none;
}
*/

.menu li a:hover {
  color: #000;
  background-color: #FFC;
}

.scoretable td {
	border: 1px solid gray;
}

.scoretable td.winning {
   background-color: #99ff99;
}
.scoretable td.losing {
   background-color: #ffcccc;
}

/* NEW STUFF */
#loginbox {
	width: 400px;
	margin: 0px auto;
}

/* necessary? */
th {
	text-align: left;
}

/* datatables striping */
tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}

tr.region_mismatch {
	background-color: orange;
}

/* Datatables + jQueryUI needs this for keeping sort arrows on same line as header */
.css_right { float: right; }
.css_left  { float: left; }

/* Additional Datatables+jQueryUI evil for pagination buttons */
.paging_full_numbers .fg-button {
	padding: 2px 6px;
	cursor: pointer;
	cursor: hand;
}

.fg-toolbar {
	padding: 5px;
}

.dataTables_info {
	width: 50%;
	float: left;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

/* Head-to-head */
#headtohead {
	font-size: 60%;
}

#headtohead td {
	border: 1px solid gray;
}

#headtohead td.impossible {
   background-color: gray;
}
#headtohead td.winning {
   background-color: #99ff99;
}
#headtohead td.losing {
   background-color: #ffcccc;
}

/* */
/* Form prettiness */
/* */
input:focus, textarea:focus  { background:#ffc; }

/* Align labels on forms */
label {
	margin: 12px 12px 0 0;
	font-weight:bold;
	display:block;
}
label:after     {content:": ";}
label.unformatted:after     {content:"";}

/*
select, input, textarea {
	border:1px solid #ccc;
	padding:5px;
	margin:12px 12px 0 0;
}
.labeldata { padding:10px;  margin:12px 12px 0 0; }
*/

.description { font-size: 0.85em; }

/* bsmListItem stuff is for field ranking.  It displays a leading number on the count */
.bsmListItem {
  counter-increment: number;
}
.bsmListItemLabel:before {
   content: counter(number) " ";
}




