{include file="common/basic_header.tmpl"}
<h1>{if $id}Editing {$site.name}{else}Create New Field Site{/if}</h1>
<p>
	Confirm that the data below is correct, and hit continue to make your changes.
</p>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="perform">
{if $id}
	<input type="hidden" name="id" value="{$id}">
{/if}
	<table border="0">
    <tr>
      <td class='row_title'>Site Name:</td> 
      <td class='row_data'><input type="hidden" name="site[name]" value="{$site.name}">{$site.name}</td>
    </tr>
    <tr>
      <td class='row_title'>Site Code:</td> 
      <td class='row_data'><input type="hidden" name="site[code]" value="{$site.code}">{$site.code}</td>
    </tr>
    <tr>
      <td class='row_title'>Site Location Map URL:</td> 
      <td class='row_data'><input type="hidden" name="site[location_url]" value="{$site.location_url}">{$site.location_url}</td>
    </tr>
    <tr>
      <td class='row_title'>Site Location Map URL:</td> 
      <td class='row_data'><input type="hidden" name="site[layout_url]" value="{$site.layout_url}">{$site.layout_url}</td>
    </tr>
    <tr>
      <td class='row_title' valign='top'>Site Directions:</td> 
      <td class='row_data'><input type="hidden" name="site[directions]" value="{$site.directions}">{$site.directions}</td>
    </tr>
    <tr>
      <td class='row_title' valign='top'>Site-specific instructions:</td> 
      <td class='row_data'><input type="hidden" name="site[instructions]" value="{$site.instructions}">{$site.instructions}</td>
    </tr>
	</table>
<br>
<input type="submit" name="submit" value="Submit">
</form>
{include file="common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
