<h1>{$page_title}</h1>
{if $letters}
{foreach from=$letters item=i}
	{if $letter == $i}
		{$i}&nbsp;
	{else}
		<a href="{$app_cgi_location}?op={$page_op}&letter={$i}&id={$id}">{$i}</a>&nbsp;
	{/if}
{/foreach}
{/if}
<p>
<table>
{foreach from=$list item=each}
<tr>
	<td>{$each.value}</td>
	<td> 
  [
    <a href="{$app_cgi_location}?op=person_view&id={$each.id_val}">view</a>
    | <a href="{$app_cgi_location}?op=team_playerstatus&id={$id}&player_id={$each.id_val}&step=confirm&status=captain_request">add player</a>
  ]
	</td>
</tr>
{/foreach}
	</table>
{* vim: set sw=2 ts=2 et: *}
