{include file="$app_template_dir/common/basic_header.tmpl"}
<h1>{$page_title}{if $id}: {$team_name}{/if}</h1>
<p>
	Confirm that the data below is correct, and hit continue to make your changes.
</p>

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="perform">
{if $id}
	<input type="hidden" name="id" value="{$id}">
{/if}
	<table border="0">
    <tr>
      <td class='row_title'>Team Name:</td> 
      <td class='row_data'><input type="hidden" name="team_name" value="{$team_name}">{$team_name}</td>
    </tr>
    <tr>
      <td class='row_title'>Website:</td> 
      <td class='row_data'><input type="hidden" name="team_website" value="{$team_website}">{$team_website}</td>
    </tr>
    <tr>
      <td class='row_title'>Shirt Colour:</td> 
      <td class='row_data'><input type="hidden" name="shirt_colour" value="{$shirt_colour}">{$shirt_colour}</td>
    </tr>
    <tr>
  		<td class='row_title'>Captain:</td>
  		<td class='row_data'>
			<input type="hidden" name="captain_id" value="{$captain_id}">{$captain_name}
  		</td>
  	</tr>
  	<tr>
  		<td class='row_title'>Assistant Captain:</td>
  		<td class='row_data'>
			<input type="hidden" name="assistant_id" value="{$assistant_id}">{$assistant_name}
  		</td>
  	</tr>
  	<tr>
  		<td class='row_title'>Roster Status:</td>
  		<td class='row_data'>
			<input type="hidden" name="status" value="{$status}">{$status}
  		</td>
  	</tr>
	</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{include file="$app_template_dir/common/basic_footer.tmpl"}
{* vim: set ai sw=2 ts=2 et: *}
