<h1>{if $id}Editing {$team_name|escape}{else}Create New Team{/if}</h1>
{if $error_message}
<blockquote>
	{$error_message}
</blockquote>
{/if}

<form action="{$app_cgi_location}" method="POST">
	<input type="hidden" name="op" value="{$page_op}">
	<input type="hidden" name="step" value="confirm">
{if $id}
	<input type="hidden" name="id" value="{$id}">
{/if}
	<table border="0">
    {if $perm_edit_name}
    <tr>
      <td class='row_title'>Team Name:</td> 
      <td class='row_data'><input type="text" name="team_name" size="35" value="{$team_name}"></td>
    </tr>
    {/if}
    {if $perm_edit_website}
    <tr>
      <td class='row_title'>Website:</td> 
      <td class='row_data'><input type="text" name="team_website" size="35" value="{$team_website}"></td>
    </tr>
    {/if}
    {if $perm_edit_shirt}
    <tr>
      <td class='row_title'>Shirt Colour:</td> 
      <td class='row_data'><input type="text" name="shirt_colour" size="35" value="{$shirt_colour}"></td>
    </tr>
    {/if}
    {if $perm_edit_status}
  	<tr>
  		<td colspan='2'>Is this team 'open' for registering players?
      {if $status == "open"}
  			<input type='radio' name='status' value='open' checked> Yes /  
  			<input type='radio' name='status' value='closed'> No <br>
      {else}
  			<input type='radio' name='status' value='open'> Yes /  
  			<input type='radio' name='status' value='closed' checked> No <br>
      {/if}
  		</td>
  	</tr>
    {/if}
	</table>
<br>
<input type="submit" name="submit" value="Submit">
<input type="reset" name="reset" value="Reset">
	</form>
{* vim: set ai sw=2 ts=2 et: *}
