{include file="common/basic_header.tmpl"}

<h1>Schedule for {$team_name}</h1>
<p>
  <b><a href="{$app_cgi_location}?op=league_view&id={$league_id}">{$league_name}{if $league_tier} Tier {$league_tier}{/if}</a>
</p>

<table border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td class="schedule_title">Date</td>
    <td class="schedule_title">Time</td>
    <td class="schedule_title">Opponent</td>
    <td colspan="2" class="schedule_title">Location</td>
    <td colspan="2" class="schedule_title">Score</td>
  </tr>
  {foreach name=schedule from=$schedule item=game}
  <tr>
    <td class="schedule_item">{$game.date}</td>
    <td class="schedule_item">{$game.time}</td>
    <td class="schedule_item"><a href="{$app_cgi_location}?op=team_view&id={$game.opponent_id}">{$game.opponent_name}</a>&nbsp;</td>
    <td class="schedule_item"><a href="{$app_cgi_location}?op=field_view&id={$game.field_id}">{$game.field_name}</a>&nbsp;</td>
    <td class="schedule_item">({$game.home_away})&nbsp;</td>
    <td class="schedule_item">
      {if $game.score_type == 'final'}
        {$game.score_us} - {$game.score_them}{if $game.default}(default {$default}){/if}
      {else}
        {if $game.score_type == 'entered'}
          {$game.score_us} - {$game.score_them}
        {/if}
      {/if}
      &nbsp;
    </td>
    <td class="schedule_item">
      {if $game.score_type == 'final'}
      (accepted final)
      {else}
        {if $game.score_type == 'entered'}
          (unofficial, waiting for opponent)
        {else}
          [ <a href="{$app_cgi_location}?op=game_submitscore&id={$game.id}&team_id={$team_id}">submit score</a> ]
        {/if}
      {/if}
    </td>
  </tr>
  {/foreach}
</table>
{include file="common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et ai: *}
