{include file="common/basic_header.tmpl"}

<h1>{$team_name}</h1>
<p>
  [ <a href="{$app_cgi_location}?op=team_schedule_view&id={$team_id}">schedule and scores</a>
  {if $team_status == 'open'}
  | <a href="{$app_cgi_location}?op=team_playerstatus&id={$team_id}&player_id={$user_id}&status=player_request&step=confirm">join team</a>
  {/if}
  {if $perm_edit_team}
  | <a href="{$app_cgi_location}?op=team_edit&id={$team_id}">edit info</a>
  | <a href="{$app_cgi_location}?op=team_addplayer&id={$team_id}">add player</a>
  {/if}
  | <a href="{$app_cgi_location}?op=league_standings&id={$league_id}">view standings</a>
  ]
</p>

<table border="0" width="100%">
  <tr>
    <td align="left" valign="top" width='250'>
      <table border="0">
        <tr>
          <td class='row_title'>Website:</td>
          <td class='row_data'><a href="{$team_website}" target="_new">{$team_website}</a></td>
        </tr>
        <tr>
          <td class='row_title'>Shirt Colour:</td>
          <td class='row_data'>{$shirt_colour}</td>
        </tr>
        <tr>
          <td class='row_title'>League/Tier:</td>
          <td class='row_data'><a href="{$app_cgi_location}?op=league_view&id={$league_id}">{$league_name}{if $league_tier} Tier {$league_tier}{/if}</a>
          </td>
        </tr>
        <tr>
          <td class='row_title'>Team Status:</td>
          <td class='row_data'>{$team_status}</td>
        </tr>
      </table>
    </td>
    <td valign="top">
      {if $roster}
      <table cellpadding="3" cellspacing="0">
        <tr>
          <td colspan="5" class="roster_title">Team Roster</td>
        </tr>
        <tr>
          <td class="roster_subtitle">Name</td>
          <td class="roster_subtitle">Status</td>
          <td class="roster_subtitle">M/F</td>
          <td class="roster_subtitle">Skill</td>
          <td class="roster_subtitle">&nbsp;</td>
        </tr>
        {foreach name=teamroster from=$roster item=player}
        <tr>
          <td class="roster_item">&nbsp;{$player.fullname}</td>
          <td class="roster_item">&nbsp;{$player.status}</td>
          <td class="roster_item">&nbsp;{$player.gender}</td>
          <td class="roster_item">&nbsp;{$player.skill_level}</td>
          <td class="roster_item">
            [ <a href="{$app_cgi_location}?op=person_view&id={$player.id}">view</a>
            {if $perm_edit_team or $player.allow_status_change}
      | <a href="{$app_cgi_location}?op=team_playerstatus&id={$team_id}&player_id={$player.id}">change status</a>
      | <a href="{$app_cgi_location}?op=team_playerstatus&id={$team_id}&player_id={$player.id}&status=none&step=confirm">remove</a>
            {/if}
      ]
          </td>
        </tr>
        {/foreach}
      </table>
      {/if}
    </td>
  </tr>
</table>
{include file="common/basic_footer.tmpl"}
{* vim: set sw=2 ts=2 et: *}
