<Files ~ "(\.(php|conf|inc|sql)|Entries|Repositories|Root)$">
  deny from all
</Files>

<Files dummy.php>
  allow from all
</Files>

<Files index.php>
  allow from all
</Files>

Options FollowSymLinks -Indexes
DirectoryIndex index.php

# Various rewrite rules
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Modify the RewriteBase appropriately if you are using Leaguerunner
  # somewhere other than http://your.hostname.tld/leaguerunner
  RewriteBase /leaguerunner

  # Rewrite URLs to the form 'index.php?q=x':
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>

