; vim: set filetype=dosini :
;
; Leaguerunner configuration file.
;
; This is an example configuration file.  It should be copied to
; leaguerunner.conf in the src/ directory and modified for your database.
;
; Parsed by both parse_ini_file() in PHP, and Config::Tiny in Perl.

; Database configuration.
[database]
; dsn should be a PDO-compatible DSN
dsn = "mysql:host=localhost;dbname=leaguerunner"
; username and password of mysql user
username = leaguerunner
password = password

; Various paths (system and URL) used by Leaguerunner
[paths]
; This should be the directory containing Leaguerunner.  Don't add a trailing slash.
base_url = "/leaguerunner"
file_url = "/leaguerunner"
;$BASE_URL = '/leaguerunner';
;$FILE_URL = '/leaguerunner';

; Session defaults
[session]
; Session name. Set if necessary.
;session_name = "www.ocua.ca"

[localization]
; Set up time zone information.
; See http://ca3.php.net/timezones for a list of valid timezone names
local_tz = "US/Eastern"

; Difference, in minutes, from the local timezone to the server timezone.
; Value is negative if server is to your west, positive if it's east.
tz_adjust = 0
