; vim: set filetype=dosini :
;
; Leaguerunner configuration file.
;
; This is an example configuration file.  It should be copied to
; leaguerunner.conf in the src/ directory and modified for your database.
;
; Parsed by both parse_ini_file() in PHP, and Config::Tiny in Perl.

; Database configuration.
[database]
; dsn should be a PDO-compatible DSN
dsn = "mysql:host=localhost;dbname=leaguerunner"
; username and password of mysql user
username = leaguerunner
password = password

; Various paths (system and URL) used by Leaguerunner
[paths]
; This should be the directory containing Leaguerunner.  Don't add a trailing slash.
; It's used to construct URLs, but please do not prefix it with http://hostname/
base_url = "/leaguerunner"

; How to find files on the local system.  This should be the path to the
; directory containing Leaguerunner, so that files in data/ can be loaded, for
; example.
file_path = "./"

[smarty]
; Path to Smarty templating engine directory
smarty_path      = "/usr/share/php/smarty/libs"

; template_dir is where your templates live.  Should not be web-accessible
template_dir = "/web/www.example.com/templates"
; compile_dir is where your compiled templates live.  Should not be web
; accessible, and must be writable by the webserver user.
compile_dir = "/web/www.example.com/leaguerunner/templates_c"
; cache_dir is where cached output will live.  Should not be web
; accessible, and must be writable by the webserver user.
cache_dir = "/web/www.example.com/leaguerunner/cache"
; config_dir is where Smarty configuration files would live.  We do not use
; this feature, but a directory is required.
config_dir = "/web/www.example.com/leaguerunner/config"

; Session defaults
[session]
; Session name. Set if necessary.
;session_name = "www.example.com"

[localization]
; Set up time zone information.
; See http://ca3.php.net/timezones for a list of valid timezone names
local_tz = "US/Eastern"

; Difference, in minutes, from the local timezone to the server timezone.
; Value is negative if server is to your west, positive if it's east.
tz_adjust = 0
