## 
## Leaguerunner configuration file.
## 
## This is an example configuration file.  It should be copied to
## leaguerunner.conf in the src/ directory and modified for your database.
##
## This file is parsed by both PHP and Perl, and so should contain ONLY lines
## of the format 
##   $variable = 'value';
## or Bad Things will happen.  More robust parsing may be added in the future,
## but don't hold your breath.

## Database configuration.
## DB_DSN should be a PDO-compatible DSN
$DB_DSN   = 'mysql:host=localhost;dbname=leaguerunner';

## DB_USER and DB_PASS are what you'd expect... the username and password
$DB_USER  = 'leaguerunner';
$DB_PASS  = 'password';

## Base URL.
## This should be the directory containing Leaguerunner.  Don't 
## add a trailing slash.
$BASE_URL = '/leaguerunner';

## Session name. Set if necessary.
$SESSION_NAME = 'www.ocua.ca';

## Set up time zone information.
## See http://ca3.php.net/timezones for a list of valid timezone names
$LOCAL_TZ = 'TZ=US/Eastern';
## Difference, in minutes, from the local timezone to the server timezone.
## Value is negative if server is to your west, positive if it's east.
$TZ_ADJUST = 0;

1;
