body            { background-color: white; font-size: 9pt;
                  font-family: verdana, arial, helvetica, sans-serif; }
h1              { font-size: 18px;}
pre             { font-family: monospace; font-size: 9pt; }
.row_title      { color: black; font-weight: bold; }
.warning        { background-color: red; border: 1px solid black; }

.toprow         { color: white; background-color: black; border: 1px solid black;
                  padding-left: 7px; padding-right: 7px; }

a               { text-decoration: none; }
a:hover         { text-decoration: underline; }

/* Defaults for tables */
table           { border-collapse: collapse; font-size: 9pt }
td		{ vertical-align: top }

fieldset {
	margin-bottom: 1em;
	padding: .5em;
}


/* CSS2 to bold-face the left-hand column */
.pairtable td:first-child {
	font-weight:    bold;
}

.listtable th {
	background-color:    black;
	color:               white;
	font-weight:         bold;
	padding-left: 0.3em; 
	padding-right: 0.3em;
	border-bottom: 1px solid black;
	text-align: left;
}

.listtable td {
	padding-left: 0.3em; 
	padding-right: 0.3em;
	border-bottom: 1px solid gray;
	vertical-align: top;
}

.listtable .subtitle {
	font-weight: bold;
	border-bottom: 1px solid black;
}

.listtable .highlight { background-color: lightgreen; }

.listtable .roster_conflict {
	color: red;
	font-weight: bold;
}

.schedule td {
	padding-left: 0.3em; 
	padding-right: 0.3em;
}

.schedule .gamedate, .schedule th {
	background-color:    black;
	color:               white;
	font-weight:         bold;
}

.schedule .column-heading {
	font-weight: bold;
	vertical-align: bottom;
	border-bottom: 1px solid black;
}

.schedule tr.dark {
	background-color: #DDF;
}

.fieldlist table { border-collapse: collapse; width: 100%; }
.fieldlist th    { background-color: black; color: white; font-weight: bold;
                   font-size: 9pt; }
.fieldlist td    { vertical-align: top; font-size: 8pt; }


.myteams table { border-collapse: collapse; width: 100% }
.myteams th { text-align: left; background-color: black; color: white; 
              font-size: 9pt; }
.myteams td { vertical-align: top; font-size: 9pt; }
.myteams .highlight { background-color: lightblue; }

.calendar .row-week td a  { display: block; }
.calendar .row-week td a:hover { background-color: #888; color: #fff; }
.calendar table           { border-collapse: collapse; width: 100%; }
.calendar td              { text-align: center; border: 1px solid #000;
                            padding: 1px; margin: 0; font-size: 0.8em; }
.calendar .highlighted-day { background-color: #CC0; }
.calendar .current-day     { background-color: #C00; }

.lr_topbar td    { color: black; font-size: 9pt; border: 0px; }
.lr_topbar table { border-collapse: collapse; width: 100%; }
.lr_topbar a:active  { color: red; }
.lr_topbar .nav  { background-color: lightgray; 
                   padding-left: 5px; padding-right: 5px; }

.error { color: red }

/* Menu styles */
.menu {
  padding: 0 0 0 0.5em;
}
.menu ul { 
  list-style: none;
  margin: 0;
  padding: 0 0 0.25em 1em;
  border: none;
  text-align:left;
}
.menu li {
  margin: 0;
  padding: 0.2em 0.5em 0 0;
}
.menu li a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.menu li a.active {
  color: #000;
  font-weight: bold;
}
.menu li a:hover {
  color: #009;
}
.menu li.expanded {
  list-style-type: circle;
  list-style-image: url(misc/menu-expanded.gif);
}
.menu li.collapsed {
  list-style-type: disc;
  list-style-image: url(misc/menu-collapsed.gif);
}
.menu li.leaf {
  list-style-type: square;
  list-style-image: url(misc/menu-leaf.gif);
}

.form-item {
  margin-bottom: 1em;
} 
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  font-weight: bold;
}
.form-item label.option {
  font-weight: normal;
}
.form-reset .form-submit {
  margin: 0.5em 0;
}
